 
 /* @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Itim&family=Maven+Pro:wght@500&family=Poppins:ital,wght@0,400;0,500;0,600;1,100&family=Saira+Condensed:wght@400;500;600&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&amp;display=swap');
 body{
         /* font-family: 'Saira'sans-serif; */
         font-family: 'Roboto', sans-serif;
    }
    
    .banner-sec{
        /* background: #F7F8FC !important; */
        background-image: url(../images/header-bg.png) !important;
        background-repeat: no-repeat !important;
        background-position: right !important;
        border: 2px solid #F7F8FC !important;
    }
    
    .fancybox__container {
    z-index: 9999;
    }

    .testimonial-home-sec h4 {
    min-height: 38.4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    }

    /* Listing */
    .keypoints ul li {
    padding-left: 26px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: .92rem;
    }

    .keypoints ul>li:before {
    content: "✔";
    height: 0.5rem;
    width: 1.5rem;
    display: block;
    float: left;
    margin-left: -1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    }

    /* Doctor Box */
    .pt-100 {
    padding-top: 100px;
    }

    .pb-100 {
    padding-bottom: 100px;
    }

    .ptb-100 {
    padding: 100px 0px;
    }

    .pt-70 {
    padding-top: 70px;
    }

    .pb-70 {
    padding-bottom: 70px;
    }

    .ptb-70 {
    padding: 70px 0px;
    }

    #services .title {
    font-size: 46px;
    color: #008fc5;
    font-weight: 600;
    }

    #services .title span {
    font-size: 46px;
    color: #008fc5;
    font-weight: 600;
    }

    #services .btn-primary {
    color: #fff;
    background-color: #008fc5;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 150px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    }

    .btn-primary:hover {
    -webkit-box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
    box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
    }

    .card-items .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background: rgb(2, 0, 50);
    background: radial-gradient(circle, rgba(2, 0, 50, 0.5) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 185, 255, 0.17690826330532217) 67%);
    background-clip: border-box;
    border: none;
    border-radius: .50rem;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 24%);
    margin-bottom: 30px;
    }

    .card-items .card .card-body .card-title {
    margin-bottom: .75rem;
    margin-top: 26px;
    margin-bottom: 15px;
    }
    .card-title{
        /* color: #000 !important; */
        /* text-align: left !important; */
        font-size: 22px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        /* line-height: 45.384px !important;  */
    }

    /* .city-card {
    background: #F6F9FB;
    border: 0px;
    border-radius: 6px;
    min-height: 320px;
    } */
    .city-card {
        border-radius: 28.782px !important;
        background: #E6F4FA !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
        min-height: 225px !important;
        /* border-radius: 3.782px;
        background: #E6F4FA;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        min-height: 225px; */
    }
    .city-card p{
        margin-top:25px !important;
    }
    .para-txt{
        color: #000 !important;
        
    }
    .city-card:hover{
        background: #FFFF !important;
        color:#008fc5 !important;
    }
    .btn-prohealth {
    position: fixed;
    bottom: 10px;
    right: 75px;
    padding: 10px 27px;
    background: #007c9d;
    display: inline-block;
    font-size: 16px;
    z-index: 99;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 8px;
    text-decoration: none;
    }
    button#cta-book-prohealth_sticky {
    border: none;
    }

    .search-overlay-wrapper .suggestion-box-wrapper {
    top: 100%;
    left: 0;
    width: 100%;
    }

    .search-overlay-wrapper img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 5px;
    }
    /* .desktop_image{
        border-radius:50px;
        background: linear-gradient(109deg, rgba(255, 255, 255, 0.00) 11.51%, rgba(255, 255, 255, 0.60) 94.81%), url(<path-to-image>), lightgray 50% / cover no-repeat;  
    } */
    .desktop_image img{
        border-radius:50px;
    }
    /* .desktop_image img:hover,.heart-valve img:hover{
        height: 360px;
    } */
    
    .heart-valve{
        /* background-image: url(../images/heart-valve-bg.png); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .heart-valve img{
        border-radius:50px;
        padding: 20px;
        position: relative;
    }
    .text-box{
        border-radius: 5.349px !important;
        border: 0.891px solid #A3A3A3 !important;
        background: #F5F5F5 !important;
        box-shadow: 0px 3.566px 10.698px 0px rgba(0, 0, 0, 0.25) !important;
        margin:25px;
        color: #031319 !important; 
    }
    .bgBlueDark-btn{
        background-color: #008fc5 !important;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
    }
    .bgBlueDark-btn:hover{
        background-color: #fff !important;
        color: #000 !important;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
    }

    /* .text-box h3{
         
        color: #008fc5 !important; 
    } */
    /* .text-box h3{
        color: #008fc5 !important; 
    }
    .text-box p{
        color: #000 !important; 
    }
    .text-box{
        color: #fff !important;
    }
    .text-box h3:hover,.text-box p:hover{
        color: #fff !important;
    } */

    /* .text-box h3:hover{
        
        color: #ffff !important;
        
    } */
    .text-box:hover{
        border: none !important;
        background: #008fc5a3  !important;
        color: #ffff !important;
        /* transition: all 0.8s linear; */
    }
    .find-us-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 6% 6% 0 0;
    }

    .lb-bg-1{
        /* background: #0091c575 !important; */
        background: #d8eff7 !important;
    }

    .lb-bg{
        background: #008fc5 !important;
    }
    /* .text-box:hover{
        margin:20px;
    } */
    .meet-our-export-box{
        background-image: url(../images/meet-our-export-bg.png) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
    }
    .heading-line{
        color: #008fc5 !important;  
        /* font-size: 40px !important; */
        font-size: 2rem !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 48px !important;  
    }
    .testimonial-slider{
        border-radius: 12px !important;
        border: 1px solid rgba(0, 143, 197, 0.53) !important;
        background: #F1F1F1 !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    }
    .testimonial-slider .slick-prev, .testimonial-slider .slick-next {
        bottom: 1px !important;
    }

    /* Why Choose Sarvodaya Healthcare CSS Start */

    .cardilogy-heading{
        color: #5C5C5C;
        /* font-size: 36px; */
        font-style: normal;
        /* font-weight: 600; */
        line-height: normal;
    }
    .cardilogy-para{
        /* color: #211715; */
     
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .cardiology-section{
        border-radius: 6px;
        background: #008FC5;
        /* filter: blur(6px); */
        margin:30px;
        padding:20px;
        box-shadow: 0px 0px 5px 5px #008FC5;
    }
    .cardiology-box, .cardiology-box-1{
        color: #211715;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 4px 12px 0px rgba(33, 23, 21, 0.25);
        margin:15px;
        padding:15px;
    }
    .cardiology-box-1 p{
        padding: 0 0 30px 0;
    }
    .cardiology-box-1 h3{
        padding: 20px;
    }
    .cardiology-box img{
        /* position: absolute;
        margin-left: 100px;
        margin-top: -40px;
        width: 50px; */
        position: relative;
        /* margin-left: 100px; */
        /* margin-top: -40px; */
        width: 50px;
        top: -40px;
        left: 40%;
    }
    .cardiology-box-1 img{
        position: absolute;
        margin-left: -24px;
        margin-top: -30px;
        width: 55px;
    }
    .cardiology-box:hover, .cardiology-box-1:hover{
        color: #008FC5 !important;
        background-color: #E6F4FA !important;
    }

    /* Why Choose Sarvodaya Healthcare CSS End */
    
    /* FAQ CSS Start */
    .faq-section{
        margin: 30px;
        padding: 20px;
    }

    .faq {
    transition: 0.3s all;
    }

    .faq_active {
    margin-bottom: 30px;
    }

    .faq__question {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 40px;
    padding: 10px 35px 10px 0px;
    /* background-color: #fff; */
    transition: 0.3s all;
    cursor: pointer;
    }

    .faq__ico {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .faq__ico_m_r {
    margin-right: 13px;
    }

    .faq__ttl {
    color: #32325c;
    font-size: 24px;
    font-weight: 600;
    flex-grow: 1;
    }
    
    .faq-question{
        color: #000 !important;
        
        font-size: 24px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
    }

    .faq__ttl h3::after{
        content: "";
        border-bottom: 1px #32325c double;
        display: inline-block;
        width: 70%;
        margin-left:10px;
    }

    .faq__close {
    background-color: #D9D9D9;
        /* border: 10px solid #D9D9D9; */
        border-radius: 50%;
        width: 20px;
        margin-right: 24px;
        height: 20px;
        flex-shrink: 0;
        position: relative;
        cursor: pointer;
    }

    .faq__close:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #32325c;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    transition: 0.3s all;
    }

    .faq_active .faq__close:before {
    transform: rotate(180deg);
    }

    .faq__close:after {
    content: "";
    display: block;
    width: 2px;
    background-color: #32325c;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    bottom: 0;
    transition: 0.3s all;
    }

    .faq_active .faq__close:after {
    transform: rotate(180deg);
    opacity: 0;
    }

    .faq__answer {
    border-radius: 2px;
    background-color: #fff;
    padding: 0 30px 0 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    display: none;
    }

    .faq__txt {
        color: #000;
        /* font-family: Maven Pro; */
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .faq__accent {
    color: rgb(254, 185, 84);
    font-weight: var(--heading-txt-weight);
    font-size: 16px;
    margin-bottom: 2px;
    }

    .faq-heading {
    background: linear-gradient(180deg, #3EC59A 47.49%, rgba(0, 34, 72, 0.17) 90.62%);
    -webkit-background-clip: text;
    font-size: var(--main-heading-txt);
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: var(--heading-txt-weight);
    line-height: normal;
    /* letter-spacing: 10px; */
    text-align: center;
    }
    .quiz-box{
    border:2px solid #445A76;
    border-left:none;
    border-right:none;
    padding:30px;
    }
    .straight-line{
    /* width: 1002px; */
    height: 1px;
    background: #445A76;
    margin: 0% 0% 0% 12%;
    }

    /* FAQ CSS End */

    /* Orthopedics CSS Start */

    .treatment-heading{
        color: #5C5C5C;
        text-align: center;
        /* font-size: 35px; */
        font-style: normal;
        font-weight: 500;
        /* line-height: 48px;    */
    }

    .in-box-title{
        /* color: #000; */
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
    }
    .treatment-box-para{
        /* color: #000; */
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.744px; /* 133.882% */
        margin-top: 15px;
    }
    .read-more{
        color: #D90000;
        text-align: center;
        
        font-size: 15.049px;
        font-style: normal;
        font-weight: 400;
        line-height: 12.115px; /* 133.882% */ 
        text-decoration: none;
    }
    .treatment-card{
        min-height: 315px;
        border-radius: 4px;
        border: 1px solid #CACACA;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;  
    }
    .treatment-card-1{
        color: #000 !important;
    }
    .treatment-card:hover{
        border-radius: 3.782px;
        /* background: #E6F4FA; */
        color: #008fc5 !important;
        text-shadow: 0 0 1px #0a0a0a;
        /* box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25); */
    }

    .award-section{
        border-radius: 8px;
        background: linear-gradient(180deg, #008FC5 0%, rgba(232, 243, 236, 0.18) 53%, #3DB8E7 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 30px;
        padding: 20px;
    }
    /* .award img:hover{
      max-width: 160px !important;
      height: 160px !important; 
    } */
    .card-body img:hover{
        /* margin:5px; */
    }

    /* Robotics CSS Start */

    .robostic-join-card{
        border-radius: 28.782px !important;
        background: #E6F4FA !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
        min-height: 225px !important;
    }
    .robostic-join-card:hover{
        background: #FFFF !important;
        color: #008fc5 !important;
    }
    .robostic-join-box-title{
        /* color: #000 !important; */
        text-align: center !important;
        
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: 48px !important;  
    }
    
    /* Robotics CSS End */

    /* Cancer Care CSS Start */

    .cancer-care-card{
        border-radius: 4px;
        border: 1px solid #CACACA;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .cancer-care-card:hover{
        background: #CACACA;
    }
    .cancer-care-box-title{
        color: #000;
        text-align: center;
        
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px; /* 150% */
    }
    .cancer-care-box-para{
        color: #008FC5;
        text-align: center;
        
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px; /* 126.923% */
    }
    /* .our-speciality-btn{
        color: #FFFF !important;
        width: 350px;
        border-radius: 28px !important;
        background: #e6f4fa !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
    } */
    .our-speciality-btn {
        color: #FFFF !important;
        width: 350px;
        border-radius: 50px !important;
        border: 1px solid #018FC5!important;
        background: #018FC5!important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
    }
    .our-speciality-link{
        padding: 24px 0 !important;
        color: #ffff !important;
    }
    .our-speciality-link:hover{
        color: #000 !important;
    }
    .our-speciality-btn:hover{
        color: #0000 !important;
        /* width: 350px; */
        border: 1px solid #49b3e0!important;
        border-radius: 50px !important;
        background: #49b3e0 !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
    }
    .our-speciality-btn a{
        /* color: #0000 !important; */
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    /* Cancer Care CSS End */
    

    /* PET CT Scan CSS Start */
    
    .pet-ul li{
        color: #000;
       
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .pet-ul{
        color: #000 !important;
        
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 400 !important;
    }

    .cancer-treatment-btn{
        /* width: 325px; */
        border-radius: 4px;
        border: 1px solid #CACACA;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .cancer-treatment-btn a{
        color: #008FC5;
        text-align: center;
        padding: 15px 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px; /* 150% */
    }

    /* PET CT Scan CSS End */

    /* Counting CSS Start */

     section.counting-section {
        /* background: var(--light-green-bg-color); */
        background:#008fc5 !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #fff;
        text-align: center;
        padding: 10px;
      }
      
      .count-up h3 {
        font-size: 26px;
       
      }
      
      /* .count-up-1 {
        border-right: 2px solid #fff;
      } */
      .count-up-2{
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
      }
      
      p.counter-count,
      span.counter-count-span {
        font-size: 40px;
        /* font-family: Saira; */
        font-family: 'Roboto', sans-serif;
      }
      
      .counter-count {
        font-size: 50px;
        font-weight: bold;
        position: relative;
        text-align: center;
        display: inline-block;
      }

      /* Counting CSS End */

      /* Spine CSS Start */

    /* Our International Partners css start */

    .slider-main {
        height: 150px;
        margin: auto;
        z-index: 1;
        margin-top: 10px;
        position: relative;
        z-index: -99;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        }

        .slide-track-12 {
        display: flex;
        width: calc(800px * 18);
        animation: scroll 20s linear infinite;
        }

        .slide-track-12:hover {
        animation-play-state: paused;
        }

        @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 4));
        }
        }

        .slide-123 {
        height: 100px;
        width: 350px;
        display: flex;
        align-items: center;
        padding: 50px;
        perspective: 200px;

        }

        .slide-123 img {
        width: 100%;
        transition: transform 1s;
        border: 1px solid #7A7A7A !important;
        }

        .slide-123 img:hover {
        transform: translateZ(20px);
        }

        .slider-main::before,
        .slider-main::after {
        content: '';
        height: 100%;
        /* position: absolute; */
        width: 15%;
        z-index: 2;
        }

        .slider-main::before {
        left: 0;
        top: 0;
        }

        .slider-main::after {
        right: 0;
        top: 0;
        transform: rotateZ(100deg);
        }

        .main-container-section h1 span {
        color: #343434;
        /*  */
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 54.864px;
        }

        .main-container-section h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 40px;
        margin-bottom: 50px;
        }

    /* Our International Partners css end */

        .spine-card{
            min-height: 225px;
            border-radius: 4px;
            /* border: 1px solid #0185cb; */
            background: #E6F4FA;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
        }
        .spine-card:hover{
            background:#008fc5 !important;
            color:#FFFF !important;
        }
        .spine-card img{
            width:100px;
        }
        .spine-title{
            /* color: #000 !important; */
            text-align: center !important;
            
            font-size: 22px !important;
            font-style: normal !important;
            font-weight: 500 !important;
            line-height: 48.384px !important;
            margin-top:15px !important;
        }
        .patient-care-card{
            height: 100%;
            border-radius: 4px;
            border: 1px solid #CACACA;
            background: #FFF;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
        }
        .patient-care-card:hover{
            border-radius: 3.782px;
            background: #E6F4FA;
            color:#008fc5 !important;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            height: 100%;
        }
        .patient-care-title{
            margin-top:15px;
        }

        .patient-care-card img{
            width:100px !important;
        }
        .slide-123 img {
            width: 200px !important;
            transition: transform 1s !important;
            border:none !important;
            /* border: 1px solid #7A7A7A !important; */
        }
        
        .treatment-journey-card{
            border-radius: 28.782px !important;
            background: #E6F4FA !important;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
            min-height: 225px !important;
        }
        .treatment-journey-card p{
            margin-top:25px !important;
        }
        .treatment-journey-card:hover{
            background: #FFFF !important;
            color:#008fc5 !important;
        }

      /* Spine CSS End */

        /* Find Us Section CSS Start */

      .find-us-box-title {
        
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: 48px !important;
        }
        .find-us-box-para {
        
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 22.744px !important;
        }

        /* Find Us Section CSS End */


/* New css */

h1.title-course{
    margin-bottom: 1%;
    font-weight: 500;
}
.faq-heading-1{
    font-weight: 700 !important;
}
.title-course{
    color: #5C5C5C;
}
.award-col{
    margin-top: -38px !important;
}
@media (max-width: 768px){
    .award-col{
        margin-top: 1rem !important;
    }
    .award-row{
        justify-content: space-evenly !important;
    }
}

@media screen and (max-width: 474px) {
    .award-left-content{
      top: 5% !important;
  }
  }

  /* .treatment-heading,.title-course:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: auto;
    margin-top: 0.6rem;
    background: #d93800;
} */
